* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background: #333;
  color: whitesmoke;
  font-family: 'Lucida Sans', sans-serif;
  text-align: center;
}

table {
  margin-inline: auto;
}

table,
th {
  border: 1px solid whitesmoke;
}

th {
  background-color: whitesmoke;
  color: #333;
}

td {
  min-width: 150px;
}

h3,
h1 {
  text-transform: uppercase;
  margin-block: 1rem;
}